{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles de la Opinion</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ review.author }}</h5>
            <p class="card-text">{{ review.product }}</p>
            <p class="card-text"><strong>Opinion:</strong> {{ review.text }}</p>
            <p class="card-text"><strong>Fecha:</strong> {{ review.date }}</p>
            <p class="card-text"><strong>Valoracion:</strong> {{ review.rating }}</p>
            <a href="" class="btn btn-primary">Editar</a>
            <a href="" class="btn btn-danger">Borrar</a>
            <a href="{% url 'product_reviews' %}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}
